:root {
  --primary-color: rgb(157,203,203); /* Dark blue background color with full opacity */ /* Blue */
  --secondary-color: rgb(68,159,202); /* Gray */
  --accent-color: #ffc107; /* Yellow */
}

body {
    background-color: var(--primary-color); /* Set the background color of the entire page */
    margin: 0;
  }