:root {
  --primary-color: rgb(157,203,203,0.5);
  --secondary-color: rgb(68,159,202);
  --accent-color: #ffc107; 
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  background-image: url(../public/background3.jpg); 
  background-size: cover;
  background-repeat: repeat;
  background-position: top left;
}
